@import url('https://fonts.googleapis.com/css2?family=Crimson+Text:ital,wght@0,400;0,600;0,700;1,400;1,600;1,700&family=Yeseva+One&display=swap');
:root{
    --cor-de-fundo:#DFE2FE;
    --cor-primaria:#003a77;
    --cor-secundaria:#5454C5;
    --cor-de-texto:#ffffff;
    
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body, html {
    margin: 0;
    padding: 0;
}
body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: "Yeseva One", serif;
}
header{
    background-color: var(--cor-secundaria);
    color: var(--cor-de-texto);
    text-align: center;
    padding: 1px;
}
h1{
    font-size: 3rem;
    font-weight: 600;
    margin-top: 30px;
}
nav{
    text-align: center;
    justify-content: center;
    font-weight: 500;
    font-size: 1.2rem;
    margin-top: 15px;
    display: flex;
}
nav a{
    text-decoration: none;
    margin:0 2rem 1rem 0;
}
nav a:hover{
    text-decoration: underline;
    transform: scale(0.90);
    transition: transform 0.1s;
}
.graficos-container{
    margin: 5rem;
}
.graficos-container__texto{
    font-size: 1.3rem;
    text-align: center;
    padding: 2rem;
    border: var(--cor-primaria) solid 2px;
}
span{
    font-weight: bold;
    color: var(--cor-secundaria)
}
footer{
    background-color: var(--cor-secundaria);
    display: flex;
    color: var(--cor-de-texto);
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 1rem;
    margin-top: 15px;
    height: 3rem;
    width: 100%;
}

